@main("Minesweeper") {
<h1>Minesweeper</h1>
<div id="game-container">
  <div id="game-board">
    <div class="game-row">
      <div data-x="1" data-y="1" class="cell">
        <span>1</span>
      </div>
    </div>
  </div>
</div>
<div class="buttons">
  <button id="undoButton" type="submit" class="btn btn-primary">Undo</button>
  <button id="redoButton" type="submit" class="btn btn-primary">Redo</button>
</div>

<button
  type="button"
  class="btn btn-secondary help-button"
  data-toggle="modal"
  data-target="#helpModal"
>
  Help
</button>

<div
  class="modal fade"
  id="helpModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="helpModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="helpModalLabel">Game Instructions</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="list-group">
          <li href="#" class="list-group-item list-group-item-action">
            Left click to open a cell
          </li>
          <li href="#" class="list-group-item list-group-item-action">
            Right click to flag a cell
          </li>
          <li href="#" class="list-group-item list-group-item-action">
            If you open a cell that contains a mine the game is over
          </li>
          <li href="#" class="list-group-item list-group-item-action">
            You win the game if you open all cells that do not contain a mine
          </li>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Close
        </button>
      </div>
    </div>
  </div>
</div>

<!-- <div
  class="alert alert-danger alert-dismissible fade show mt-3 text-center"
  role="alert"
>
  You just hit a mine and the game is over. If you want to continue, you can
  press the undo button.
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div> -->

<div
  class="modal fade"
  id="gameOverModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="gameOverModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="gameOverModalLabel">Game Over</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        You hit a mine! Game Over. To play again undo your last move.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" id="playAgainButton">
          Undo
        </button>
      </div>
    </div>
  </div>
</div>

<script
  type="text/javascript"
  src='@routes.Assets.versioned("javascripts/minesweeper.js")'
  type="module"
></script>
}
